# Python cache files
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
env/
.venv/
.env

# Django stuff
db.sqlite3
*.log
media/
staticfiles/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Ngrok or temporary files
ngrok.yml
